:root {
  --darkgrey: #1a1a1b;
  --slategrey: #3a3a3c;
  --grey: #86888a;
  --lightgrey: #787c7e;
  --green: #538d4e;
  --yellow: #b59f3b;
  --white: #fff;
}

body {
  font-family: sans-serif;
  color: var(--white);
  background: var(--darkgrey);
}

.instructions {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: var(--darkgrey);
  width: 30em;
  border: 3px var(--slategrey) solid;
  padding: 0 1.5em;
  border-radius: 20px;
}

.instructions .header {
  display: flex;
  margin-left: 11.5em;
  justify-content: space-between;
}
.instructions h1 {
  font-size: 1em;
  letter-spacing: 1px;
}

.instructions p {
  font-size: 0.9em;
  letter-spacing: 0.5px;
}

.border {
  border-top: 2px solid var(--slategrey);
  padding-top: 0.5em;
}

button {
  background: none;
  border: none;
  color: var(--white);
  font-size: 20px;
}

.instructions .word-container {
  display: flex;
}

.instructions .letter {
  border: 3px var(--slategrey) solid;
  font-size: 2em;
  font-weight: 600;
  width: 1.2em;
  text-align: center;
  margin: 3px;
}

.instructions .green {
  background: var(--green);
}
.instructions .yellow {
  background: var(--yellow);
}

.instructions .grey {
  background: var(--lightgrey);
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
