:root {
  --darkgrey: #1a1a1b;
  --slategrey: #3a3a3c;
  --grey: #86888a;
  --lightgrey: #787c7e;
  --green: #538d4e;
  --yellow: #b59f3b;
  --white: #fff;
}

body {
  font-family: sans-serif;
  color: var(--white);
  background: var(--darkgrey);
}

.instructions {
  width: 30em;
  margin: auto;
  border: 3px var(--slategrey) solid;
  padding: 3em 2em;
  border-radius: 20px;
}

.instructions h1 {
  text-align: center;
  font-size: 1em;
  letter-spacing: 1px;
}

.instructions p {
  font-size: 0.9em;
  letter-spacing: 0.5px;
}

.instructions button {
  background: none;
  border: none;
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
}

.instructions .word-container {
  display: flex;
}

.instructions .letter {
  border: 3px var(--slategrey) solid;
  font-size: 2em;
  font-weight: 600;
  width: 1.2em;
  text-align: center;
  margin: 3px;
}

.instructions .green {
  background: var(--green);
}
.instructions .yellow {
  background: var(--yellow);
}

.instructions .grey {
  background: var(--lightgrey);
}
